.br-container {
  background-color: #660E60;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding-bottom: 80px;
  margin: 0;
  padding-top: 0;
}

.top-section {
  position: relative;
  margin: 0;
  padding: 0;
}

.brand-wave {
  width: 100%;
  display: block;
}

.brand-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: auto;
  border-radius: 20%;
  /* margin: 10px auto;
  display: block; */
  padding: 5px;
  margin: 0;
}

.tab-bar {
  display: flex;
  justify-content: center;
  background: #F2AB27; 
  margin: 0;
  padding: 8px;
  justify-content: space-evenly;
  position: relative;
  z-index: 5;
}

.tab-button {
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #660E60;
  padding: 6px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-button.active {
  color: #fff;
  background: #660E60;
}

.br-table {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.br-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 2px solid #F2AB27;
}

.br-name {
  font-size: 20px;
  color: #F2AB27;
}

.br-price {
  font-size: 20px;
  /* font-weight: bold; */
  color: #fff;
}

.coming-soon {
  margin: 30px 0;
  font-size: 16px;
  font-weight: bold;
  color: #F2AB27;
}

.bottom-wave-menu {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
}

.bottom-wave {
  width: 100;
  display: block;
}

.menu-wrapper {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.menu-icon-box {
  position: relative;
}

.menu-rect {
  width: 60px;
}

.menu-img {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
}

.menu-text {
  margin-top: 1px;
  font-size: 16px;
  font-weight: bold;
  color: #660E60;
}